/* --- ABYSSAL THEME - BOTTOM GLOW --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

body {
    /* Degradado de arriba (Negro) hacia abajo (Verde) */
    background: linear-gradient(
        to bottom, 
        #000000 60%, 
        #1a3d18 100%
    );
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido arriba */
    align-items: center;
    color: #4a8a44;
    font-family: 'Courier New', monospace;
    padding-top: 10vh; /* Espacio para que el título no pegue al borde superior */
}

.abyssal-wrapper {
    text-align: center;
    z-index: 2;
}

/* Título con aspecto baboso / abandonado */
.slime-title {
    font-size: 4.5rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #3dfc89; 
    position: relative;
    
    /* Sombra proyectada hacia abajo para el efecto "goteo" */
    text-shadow: 
        0 2px 0 #1a3d18,
        0 5px 10px rgba(0, 0, 0, 1),
        0 10px 20px rgba(61, 252, 137, 0.2),
        2px 15px 30px rgba(26, 61, 24, 0.5);
    
    margin-bottom: 5px;
}

.abyssal-subtitle {
    font-size: 1rem;
    color: #32612e;
    letter-spacing: 3px;
    font-style: italic;
    opacity: 0.7;
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
}
