/* --- ABYSSAL THEME --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #000000; /* Negro absoluto */
    overflow-x: hidden;
}

body {
    /* El resplandor verde lima oscuro en el centro del fondo */
    background-image: radial-gradient(
        circle at center, 
        #132b12 0%, 
        #000000 75%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color: #32612e; /* Verde lima oscuro base */
    font-family: 'Courier New', monospace;
}

.abyssal-container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
}

.depth-marker {
    opacity: 0.2;
    letter-spacing: 10px;
    font-size: 1.5rem;
    pointer-events: none;
    user-select: none;
}
