:root {
    --bg-dark: #050505;
    --dim-glow: rgba(255, 200, 100, 0.03); /* Luz de emergencia muy tenue */
}

body.dark-room {
    background-color: var(--bg-dark);
    color: #4a4a4a;
    height: 100vh;
    font-family: 'Courier New', monospace;
    overflow-y: auto;
    transition: background 0.5s;
}

/* Estado de luz encendida (levemente) */
body.light-on {
    background-color: #111;
    --dim-glow: rgba(255, 200, 100, 0.1);
}

/* Interruptor de Cuerda */
.pull-chain {
    position: fixed;
    top: 0; right: 50px;
    z-index: 100;
    cursor: pointer;
}
.chain {
    width: 2px; height: 100px;
    background: #333; margin: 0 auto;
}
.handle {
    width: 12px; height: 25px;
    background: #555; border-radius: 5px;
}

#flashlight {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none;
    background: radial-gradient(
        circle 180px at var(--x, 50%) var(--y, 50%),
        var(--dim-glow) 0%,
        rgba(0, 0, 0, 0.99) 100%
    );
    z-index: 50;
}

.secret-wrapper {
    max-width: 900px; margin: 0 auto;
    padding: 100px 20px; position: relative; z-index: 10;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; margin-top: 40px;
}

.info-card {
    background: rgba(20, 0, 0, 0.5);
    border: 1px solid #222; padding: 20px;
    border-radius: 5px;
}

.media-placeholder {
    background: #0a0a0a; border: 1px dashed #333;
    display: flex; align-items: center; justify-content: center;
    min-height: 250px; color: #222;
}

.panic-button {
    background: transparent; color: #300;
    border: 1px solid #300; padding: 10px 20px;
    margin-top: 50px; cursor: pointer;
}
.panic-button:hover { background: #500; color: #fff; }
